<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="css/main.css">
    </head>
<body>

        <ul id = "nav00">
                <li id = "nav01"><a href="index.html">List</a></li>
                <li id = "nav01"><a class="active" href="add.html">AddItem</a></li>
                <li id = "nav01"><a href="login.html">LogIn</a></li>
            </ul>

<form>
  AddItem:<br>
  <input type="text" name="Add Item" value="Add Item">
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>Clicking submit will add your item to the list.</p>

</body>
</html>