<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

            <ul id = "nav00">
                    <li id = "nav01"><a class="active" href="index.html">List</a></li>
                    <li id = "nav01"><a href="add.html">AddItem</a></li>
                    <li id = "nav01"><a  href="login.html">LogIn</a></li>
            </ul>
        <header>
            <h1>Top 10 Games</h1>
            <h2>ranked by replayability</h2>
            <h4>A list by Andrew Palmer</h4>
        </header>
        <ol>
            <li>Overwatch</li>
            <li>Super Mario Odysee</li>
            <li>Path of Exile</li>
            <li>Hollow Knight</li>
            <li>Old School RuneScape</li>
            <li>Witcher3</li>
            <li>Garry's Mod</li>
            <li>Skyrim</li>
            <li>Oblivion</li>
            <li>PUBG</li>
        </ol>
        <p>This is a list of games in the order of relative playtime that I got out of them. 
            I based this list on the replayability of the games, i.e. how often I went back to 
            play them.The this is super objective, but I feel like it's a decent comprehensive 
            list of games that I enjoyed enough to go back and play them through multiple times. 
            There are some left off of the list,but for the most part this is a decent representation.
        </p>

    </body>
</html>