<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="css/main.css">
    </head>
<body>

        <ul id = "nav00">
            <li id = "nav01"><a href="index.html">List</a></li>
            <li id = "nav01"><a href="add.html">AddItem</a></li>
            <li id = "nav01"><a class="active" href="login.html">LogIn</a></li>
        </ul>
    <form>
        User Name:<br>
        <input type="text" name="UserName" value="username">
        <br>
        Password:<br>
        <input type="password" name="PassWord" value="****">
        <br><br>
        <input type="submit" value="Login">
      </form>  

</body>
</html>